<h1>New Note</h1>

<%= form_for(@note) do |f| %>
  <h3><%= f.label :date %></h3>
  <%# DateTime.now.strftime('%Y-%m-%d') %>
  <%= f.date_field :date %>

  <h3><%= f.label :title %></h3>
  <%= f.text_field :title, class: "form-control"%>

  <h3><%= f.label :body %></h3>
  <%= f.text_area :body %>
  
  <br>
  <%= f.submit "作成" %>
<% end %>