<!DOCTYPE html>
<html>
<head>
  <title>Sensenoteclone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-2">
        <div class="nav-container">
          <ul class="nav nav-pills nav-stacked">
            <li class="navbar-brand">SenseNote</li>
            <li>
            <% if Profile.exists?(:user_id => current_user.id) %>
                <%= link_to profile_path(:id => current_user.profile.id) do %>
                  <%= fa_icon "user" %>
                  プロフィール
                <% end %>
              <% else %>
                <%= link_to new_profile_path do %>
                  <%= fa_icon "user"%>
                  プロフィール
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to groups_path do %>
                <%= fa_icon "group" %>
                グループ
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path do %>
                サインアウト
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="col-md-10">
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
